@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
	--c-beige: #ece6d5;
	--c-black: #000;
	--c-black-60: rgba(0, 0, 0, 0.6);
	--c-blue: #006eb5;
	--c-blue-dark: #005994;
	--c-gray: #d4d8da;
	--c-gray-dark: #a9b1b5;
	--c-gray-darker: #494949;
	--c-gray-light: #f3f3f3;
	--c-gray-light-transparent: rgba(151, 151, 151, 0.8);
	--c-gray-lighter-transparent: rgba(255, 255, 254, 0.8);
	--c-red: #d0232a;
	--c-red-dark: #a91f25;
	--c-white: #fff;
}

body {
	font-family: Lato, Helvetica, Arial, sans-serif !important;
}
.mktoForm {
	width: 100% !important;
	margin-left: -15px;
}

.mktoForm div,
.mktoForm span,
.mktoForm label,
.mktoForm p {
	font-family: Lato, 'sans-serif' !important;
}

.lpeCElement {
	left: auto !important;
	position: relative !important;
	top: auto !important;
}

.lpeCElement.__myu-form_disclaimer__ {
	max-width: 120px;
	width: 100% !important;
}

.lpeCElement .lpContentsItem.richTextSpan {
	display: block;
	margin-left: 15px;
	margin-top: 25px;
}

.mktoForm .mktoFormRow {
	margin-top: 0;
}

.mktoForm .mktoFormRow .mktoFieldDescriptor.mktoFormCol {
	margin-top: 15px;
}

.mktoFieldWrap {
	align-items: center;
	display: flex;
}

.mktoLabel.mktoHasWidth {
	width: 120px !important;
}

@media (max-width: 768px) {
	.mktoLabel.mktoHasWidth {
		padding-left: 10px;
	}
}

.mktoForm .mktoFormCol {
	float: none !important;
}
.mktoForm .mktoFieldWrap,
.mktoForm .mktoField {
	float: none !important;
}

.mktoField.mktoHasWidth,
.mktoField.mktoTextField.mktoHasWidth,
.mktoField.mktoEmailField.mktoHasWidth,
.mktoField.mktoTelField.mktoHasWidth {
	width: calc(100% - 125px) !important;
}

@media (max-width: 374px) {
	.mktoField.mktoHasWidth,
	.mktoField.mktoTextField.mktoHasWidth,
	.mktoField.mktoEmailField.mktoHasWidth,
	.mktoField.mktoTelField.mktoHasWidth {
		width: calc(100% - 100px) !important;
	}
}

.mktoForm input[type='text'].mktoField,
.mktoForm input[type='email'].mktoEmailField,
.mktoForm input[type='tel'].mktoTelField,
.mktoForm select.mktoField {
	border: 1px solid var(--c-gray);
	margin-top: 10px;
	padding: 10px;
}

.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton {
	background: var(--c-red);
	border: none;
	color: var(--c-white);
	padding: 10px 25px;
	text-transform: uppercase;
	transition: background 300ms;
}

.mktoButtonWrap.mktoSimple {
	display: block;
	margin-left: 10px !important;
	margin-top: 25px;
}

.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton:hover {
	background: var(--c-black);
	border: none;
	text-decoration: underline;
}

.lpeCElement .lpContentsItem.richTextSpan {
	margin-left: -5px !important;
}

.mktoForm.mktoHasWidth {
	padding: 0;
}

select.mktoField {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	font-size: 16px !important;
	height: 30px !important;
	padding: 3px 8px !important;
}

@media (min-width: 400px) {
	select.mktoField {
		height: 38px !important;
	}
}

.lpeCElement.__myu-form_disclaimer__ {
	max-width: none !important;
}

.mktoFormRow.input-confirmation-row .mktoCheckboxList {
	align-items: center;
	display: flex;
	float: none;
	margin-right: 50px;
	order: -1;
}

@media (max-width: 400px) {
	.mktoFormRow.input-confirmation-row .mktoCheckboxList {
		margin-left: 10px;
		width: 20px;
		margin-right: 10px;
	}
}

.mktoFormRow.input-confirmation-row .mktoLabel {
	width: 100% !important;
}

@media (min-width: 400px) {
	.mktoFormRow.input-confirmation-row {
		padding-left: 10px;
	}
}
@media (max-width: 400px) {
	.mktoFormRow.input-confirmation-row {
		/* padding-left: 30px; */
	}

	.mktoFormRow.input-confirmation-row .mktoLabel {
		/* margin-top: -25px;
		margin-left: 20px; */
	}
}

.mktoLabel {
	float: none;
	display: flex;
}

.mktoLabel .mktoAsterix {
	float: none !important;
}

@media (max-width: 400px) {
	.input-confirmation-row {
		margin-left: 30px;
	}
}

@media (min-width: 400px) {
	.input-confirmation-row .mktoFieldWrap {
		flex-direction: row;
	}
}
